
body {
    background: #249296;
    font-family: Arial;
}
h1 {
    color: red;
}
/* Z2yxSgbZseSoikNecPtC1VgijOZ0ufGMNBWJBBls1U618tIYkQHxtjiWLg2Ar80OH1s3siaMBUsUUiP1L10T9dejKBnvIalRhIRTWeggBeZQzStYOXinK6teHlLFQlq8ePrtJNLhx8KvUvjN6n1DIVwe7sYnviTHqjdIxZHJg8ohwplRwm6eP0uoT3XN0XWERVFzJviM */
